version: "3.7"
services:
  wordpress:
    image: docker.io/bitnami/wordpress-nginx
    ports:
      - 8888:8080
    environment:
      BITNAMI_DEBUG: true
      WORDPRESS_DATABASE_HOST: database
      WORDPRESS_DATABASE_USER: root
      WORDPRESS_DATABASE_PASSWORD: password
      WORDPRESS_DATABASE_NAME: wordpress
      MYSQL_CLIENT_DATABASE_HOST: database
      MYSQL_CLIENT_DATABASE_ROOT_PASSWORD: password
      PHP_POST_MAX_SIZE: 40M
      PHP_UPLOAD_MAX_FILESIZE: 40M
      PHP_ENABLE_OPCACHE: no
      WORDPRESS_SMTP_HOST: mail
      WORDPRESS_SMTP_PORT_NUMBER: 1025
      WORDPRESS_EXTRA_WP_CONFIG_CONTENT: "define('MAILPOET_CRON_SITE_URL', 'http://nginx');"
      WORDPRESS_SKIP_BOOTSTRAP: true
    depends_on:
      - database
    volumes:
      - "${PWD}/wp_content:/bitnami/wordpress/wp-content"
      - "${PWD}/src:/bitnami/wordpress/wp-content/themes/transgression"
      - "${PWD}/plugin:/bitnami/wordpress/wp-content/plugins/transgression"
      - wp_core:/bitnami/wordpress

  database:
    image: mariadb
    ports:
      - 8890:3306
    volumes:
      - "${PWD}/sql:/docker-entrypoint-initdb.d"
      - wp_db:/var/lib/mysql
    environment:
      MARIADB_ROOT_PASSWORD: password
      MARIADB_DATABASE: wordpress

  mail:
    image: mailhog/mailhog:v1.0.0
    ports:
      - 8889:8025
    environment:
      MH_STORAGE: maildir
      MH_MAILDIR_PATH: /output
    volumes:
      - "${PWD}/wp_content/mail:/output"

volumes:
  wp_db:
  wp_core:
