version: "3.7"
services:
  phpfpm:
    image: chaosexanima/transgression
    user: 501:501
    build: .
    environment:
      DB_HOST: database:3306
      REDIS_HOST: redis
    volumes:
      - "wpdata:/var/www/html"
      - "${PWD}/src:/var/www/html/wp-content/themes/transgression:ro"
      - "${PWD}/plugin:/var/www/html/wp-content/plugins/transgression:ro"

  nginx:
    image: nginxinc/nginx-unprivileged
    user: 501:501
    ports:
      - 8080:80
    volumes:
      - "wpdata:/var/www/html"
      - "${PWD}/src:/var/www/html/wp-content/themes/transgression:ro"
      - "${PWD}/plugin:/var/www/html/wp-content/plugins/transgression:ro"
      - "${PWD}/nginx.conf:/etc/nginx/conf.d/default.conf:ro"

volumes:
  wpdata:
