.app-details {
	text-decoration: underline dotted;
}

.app-fields {
	border-collapse: collapse;
	margin: 1rem 0;
}
.app-fields th {
	text-align: right;
	padding-right: 1rem;
	max-width: 20rem;
}
.app-fields :is(th, td) {
	padding-top: 0.5rem;
}
.app-fields tr:first-of-type > * {
	padding-top: 0;
}
.app-comments q::before {
	content: open-quote;
}
.app-comments q::after {
	content: close-quote;
}
.post-type-application .button.button-warning {
	background-color: #d63638;
	border-color: #c62426;
	color: #fff;
}
