.attendance {
	max-width: 1000px;
	width: 100%;
	border-collapse: collapse;
}

.attendance tbody tr {
	border: solid #CCC;
	border-width: 1px 0;
}

.attendance th {
	text-align: left;
}

.attendance :is(th, td) {
	padding: 1em;
}

.attendance .order {
	width: 50px;
}

.attendance .pic {
	text-align: center;
	width: 100px;
}

.attendance img {
	object-fit: cover;
}

.attendance .volunteer {
	width: 10px;
}

@media print {
	body {
		background-color: white;
		color: black;
	}

	a {
		text-decoration: none;
		color: black;
	}

	#adminmenumain,
	#wpfooter,
	.wrap>*:not(.attendance) {
		display: none;
	}

	#wpcontent,
	.wrap {
		margin: 0;
		padding: 0;
	}

	.attendance {
		max-width: none;
	}
}
