name: Create theme zip

on:
    push:
        branches: ["main"]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

jobs:
    create-zip:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3
            - uses: actions/upload-artifact@v1
              with:
                  name: transgression
                  path: ${{ github.workspace }}/src
            - uses: actions/upload-artifact@v1
              with:
                  name: transgression-plugin
                  path: ${{ github.workspace }}/plugin
